.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size:50px;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.btn {
    border: none;
    margin-left: 45%;
    margin-top: 2%;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    background-color: aqua;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    
}

.btn:hover{
  background-color: beige ;
}